<div class="bg-white rounded-lg overflow-hidden shadow-md w-72" style="margin: 20px;">
  <div style="display: flex; justify-content: center; margin-top: 5px;">
    <button class="bg-blue-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded-full pi pi-eye">
    </button>
  </div>
    <div class="bg-white p-2">
      <div style="position: relative; display: flex; justify-content: center; align-items: center;">
        <div style="position: absolute; font-size: 8em; color: rgb(164, 153, 153); z-index: 0;">#999</div>
        <img src="../../assets/Itachi-Uchiha-PNG-File.png" alt="Pikachu" class="w-full h-40 object-contain" style="position: relative; z-index: 1;">
      </div>
      <h2 class="text-lg font-bold" style="display: flex; justify-content: center;">Pikachu</h2>
      <div class="mt-2">
        <ul class="text-white text-l" style="display: flex; justify-content: center; flex-direction: row;">
          <li style="margin-right: 20px; background-color: #0707ff; border-radius: 5px; padding: 5px; box-shadow: 2px 2px 5px #888888;">Water</li>
          <li style="background-color: #aa0303; border-radius: 5px; padding: 5px; box-shadow: 2px 2px 5px #888888;">Fire</li>
        </ul>
      </div>
    </div>
</div>
  