<div class="box bg-white rounded-lg overflow-hidden shadow-md w-72" style="margin: 20px; width: 200px; height: 200px; position: relative; box-shadow: 5px 5px 10px  #E2B1B1;">
    <div style="color: white; font-family: 'Pokemon'; font-size: x-large; z-index: 10; position: absolute; top: 10%; left: 10%;">
      <strong>#{{id}}</strong>
    </div>

  <div class="p-2" style="z-index: 10;">
      <div style="display: flex; justify-content: center;">
        <img src="{{image()}}" alt="Pokemon" style="position: absolute; top: 10%; width: 40%;">
      </div>
      <h2 class="text-lg font-bold" style="display: flex; justify-content: center; font-family: 'Pokemon'; font-size: x-large; position: absolute; bottom: 30%; right: 50%; left: 50%; ">{{name}}</h2>
      <div class="mt-2">
        <ul class="text-white text-l" style="display: flex; justify-content: center; flex-direction: row; position: absolute; bottom: 10%; right: 50%; left: 50%; ">
          <li style="color: aqua; margin-right: 20px; font-family: 'PokemonSolid';">Water</li>
          <li style="color: crimson; font-family: 'PokemonSolid';">Fire</li>
        </ul>
      </div>
  </div>
</div>
  