.top{
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image{
    position: absolute;
    left: 50px;
    bottom: 10px;
    width: 50%;
}

.allInfo{
    position: absolute;
    top: 25%;
    right: 15%;

}