<div class="flex items-center justify-center" style="margin-top: 20px;">
    <form class="flex">
      <input type="text" placeholder="Search for your pokemon..." class="px-4 py-2 border border-gray-300 rounded-l-md focus:outline-none focus:ring-1 focus:ring-red-500 focus:border-red-500" style="width: 50vw;">
      <button type="submit" class="px-4 py-2 bg-blue-500 text-white font-medium rounded-r-md hover:bg-blue-600 focus:outline-none focus:ring-1 focus:ring-red-500 focus:border-red-500">Search</button>
    </form>
  </div>